@media screen and (max-width: 767px) {
  .footer-messenger-block-desktop,
  .footerDesktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  footer {
    background-color: $backgroundGrey;
  }

  .footer-messenger-block-tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 50px;
  }

  .text-small {
    font-size: 0.9rem;
  }

  .footer-list {
    display: flex;
    flex-direction: row;
  }

  .footer-icon {
    display: flex;
    padding: 0;
  }

  .footer-item {
    width: 194px;
    margin-right: 96px;
  }

  .footer-text {
    font-size: 16px;
    line-height: 40px;
    color: #303030;
    padding-left: 0px;

    &:hover,
    &:focus {
      font-weight: 700;
      color: #303030;
    }
  }
}

@media screen and (max-width: 1199px) {
  .footer-messenger-block-desktop {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .footer-messenger-block-tablet {
    display: none;
  }
}
