$backgroundGrey: #f4f5f7;
$backgroundBlack: #202020;
$activeBtn: #ebecf0;
$primaryBtn: #0049af;
$successBtn: #34bf4a;
$infoBtn: #6dcff6;
$warningBtn: #f4999e;
$dangerBtn: #ed1b24;
$starColor: #e7ab65;
